/* body,div {
  display: flex;
  flex-direction: column;
  flex: 1;
} */

.ui.fluid.dropdown {
  width: 20%;
  margin: 0 auto;
}
.ui.button {
  width: 10%;
  margin: 10px auto;
  display: block
}
.ui.table {
  text-align: center;
  width: 40%;
  float: left;
  flex:1;
  flex-flow: row;
}

.ui.table:first-child {
  margin-top: 1em;
}


.table-fix {
  display: flex;
}
